/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.top-margin {
	margin-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Amatic SC', cursive;
	color: #9d9d9d;
}
h3:after, h4:after, h5:after, h6:after{
    width: 30px;
    height: 1px;
    background: #dcdcdc;
    content: " ";
    display: block;
    margin-top: 15px;
}

p {
	/*font-family: 'Playfair Display', serif;*/
	font-family: 'Raleway', sans-serif;
	color: #9d9d9d;
}

h1 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

#title {
	margin-top: 15px;
}

.margin-left-negative {
	margin-left: -50px;
}
.no-margin-top {
	margin-top: 0px;
}

#currently {
	margin-top: 40px;
}
#currently:after {
	background: transparent;
}
#city {
	margin-left: 30px;
}
.pad-left {
	padding-left: 0;
}
.social-icons {
	text-decoration: none;
	color: #333333;
}
.social-icons:hover {
	color: #D4AF37;
}

/*.border-bottom {
	border-bottom: 1px solid #DCDCDC;
	padding-bottom: 5px;
}*/