.card-img {
	height: 300px;
	width: 100%;
	background-size: cover;
/*	background-position: center;
*/	background-color: #EFEFEF;
	margin-top: 10px;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#decoswap-text {
	display: none;
}

#construction-text {
	display: none;
}

#decoswap {
	text-decoration: none;
}